body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:darkgoldenrod;
}

.img-container{
    text-align: center;
}

.img-container img{
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: wheat;
    width: 300px;
    height: 300px;
}

.btn{
    background-color:indianred;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    margin: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.btn:hover{
    background-color: darkred;
    /* opacity: 0,9; */
}